*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-image: url(/media/images/background.png);
}
form{
    height: 90vh;
    width: 40vw;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(43, 42, 42);
    background-color: #fafafa;
    overflow-y: scroll;
    header{
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
        box-shadow: 0 2px 10px;
        padding-bottom: 1rem;
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: #fafafa;
        h2{
            margin-top: 1rem;
        }
    }
    &::-webkit-scrollbar{
        width: 0.5vw;
    }
    &::-webkit-scrollbar-thumb{
        background-color: rgb(104, 104, 104);
        border-radius: 20px;
    }
    #fam{
        font-weight: 700;
        width: 95%;
        margin-top: 1rem;
    }
    .grid-container{
        width: 95%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin-top: 2rem;
        .grid{
            height: 5rem;
            display: flex;
            flex-direction: column;
            position: relative;
            label{
                font-weight: 600;
            }
            input{
                height: 2.5rem;
                border-top: 0;
                border-left: 0;
                border-right: 0;
                border-bottom: 1px solid;
                border-radius: 5px;
                font-size: 16px;
                padding-left: 3px;
                font-weight: 400;
                outline: 0;
                box-shadow: 0.5px 5px 10px -8px;
            }
            span{
                position: absolute;
                top: 2rem;
            }
            #female{
                left: 8rem;
            }
            #female1{
                left: 13rem;
            }
            input[type="radio"]{
                height: 1rem;
                position: absolute;
                top: 2.3rem;
                left: 3.5rem;
            }
        }
    }

}